.banner {
    justify-content: center;
    background-image: none;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .overlay {
    display: none;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section,
.banner.section .row {
    min-height: 80vh;
}

.banner.section .row .legal a,
.banner.section .row .legal p {
    color: var(--black);
}

.banner.section  h1 {
    color: black;
}