.banner.section,
.banner.section .row {
    height: 100vh;
}

.banner.section .overlay {
    opacity: 0.8;
}

.banner.section h1 {
    text-align: center;
    width: 100%;
}

.header,
.footer {
    display: none;
}